* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    width: 100%;
    height: 100dvh;
    overflow: hidden; /* Blokuje wychodzenie poza krawędzie w Safari */
    position: fixed; /* Zapobiega przesuwaniu paska adresu w iOS przy gestach */
    background: #151515;
    overscroll-behavior: none;
}