.grid-container {
  display: grid;
  /* Domyślnie na komputerach: 3 równe kolumny */
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 5px;
}

.grid-item {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  /* Fajny gradient */
  color: white;
  border-radius: 12px;
  padding: 50px 20px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

/* RESPONSYWNOŚĆ */

/* Na tabletach (ekrany poniżej 900px) zmiana na 2 kolumny */
@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Na telefonach (ekrany poniżej 600px) zmiana na 1 kolumnę */
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

/* Popup style*/
.tile-button {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.01;
}

#popup {
  display: none;
  position: absolute;
  left: 50px;
  top: 50px;
  width: 90%;
  height: 85%;
  background-color: rgba(49, 46, 46, 0.671);
}

.settingInfo,
.profileInfo {
  display: none;
}